.pattern-items {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px 0;
}

.pattern-item {
    display: flex;
    gap: 20px;
    width: 100%;
}

.pattern-item img {
    min-width: 50%;
    height: 500px;
    object-fit: cover;
}

.pattern-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 1000px) {
    .pattern-item img {
        height: 300px;
    }
}

@media (max-width: 768px) {
    .pattern-item {
        flex-direction: column;
    }

    .pattern-item > div {
        gap: 5px;
    }
}