.checkout-container {
    display: flex;
    gap: 50px;
    padding: 20px 50px;
}

.checkout-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkout-item {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.checkout-item img {
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
}

.checkout-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.checkout-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 360px;
    height: fit-content;
    padding: 20px;
    border: solid black 3px;
    border-radius: 20px 20px;
}

.checkout-info > * {
    display: flex;
    justify-content: space-between;
}

.checkout-info .total-price {
    border-top: solid grey 1px;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .checkout-container {
        flex-direction: column;
    }

    .checkout-info {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .checkout-item img {
        min-width: 50%;
        max-width: 50%;
    }
}