* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Elms Sans", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

#root > div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 0;
    border-bottom: solid black 3px;
    background-color: white;
    z-index: 100;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 20px 50px 0 50px;
}

.search-bar {
    position: relative;
    flex: 1;
}

.search-bar input {
    width: 40px;
    height: 40px;
    border: solid black 3px;
    border-radius: 20px 20px;
    outline: none;
    background-color: grey;
    color: transparent;
    font-family: "Elms Sans", sans-serif;
    font-size: 16px;
    transition: width 0.5s ease;
}

.search-bar input::placeholder {
    visibility: hidden;
}

.search-bar input:focus {
    width: 100%;
    padding: 0 20px 0 40px;
    background-color: white;
    color: black;
}

.search-bar input:focus::placeholder {
    visibility: visible;
}

.search-bar i {
    position: absolute;
    top: 50%;
    left: 20px;
    color: white;
    transform: translateX(-50%) translateY(-40%);
}

.search-bar input:focus ~ i {
    color: black;
}

.search-bar input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

header h1 {
    margin: 0 50px;
    font-family: "Molle", cursive;
    text-align: center;
}

.cart-container {
    position: relative;
    display: flex;
    justify-content: end;
    flex: 1;
}

.cart {
    position: relative;
}

.cart i {
    display: block;
    height: 36px;
    font-size: 36px;
}

.mini-checkout-container {
    content: "";
    position: absolute;
    display: none;
    right: -25px;
    padding-top: 15px;
    z-index: 10;
}

.cart:hover .mini-checkout-container {
    display: flex;
}

.mini-checkout {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 360px;
    max-height: 600px;
    border: solid black 3px;
    border-radius: 20px 20px;
    padding: 20px;
    background-color: white;
}

.mini-checkout-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}

.mini-checkout-item {
    display: flex;
    gap: 10px;
}

.mini-checkout-item img {
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    object-fit: cover;
}

.mini-checkout-item h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.item-total {
    display: flex;
    justify-content: space-between;
    border-top: solid grey 1px;
    padding-top: 10px;
}

.mini-checkout button {
    height: 40px;
    border: solid black 3px;
    border-radius: 20px 20px;
    background-color: grey;
    color: white;
    font-family: "Elms Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.mini-checkout button:active {
    background-color: rgb(60, 60, 60);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 50px;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

nav li {
    padding: 0 10px;
}

main {
    flex-grow: 1;
}

footer {
    border-top: solid black 3px;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 768px) {
    header > div h1 {
        margin: 0 10px;
    }

    .search-bar:focus-within {
        flex: 0 0 100%;
        width: 100%;
    }

    .search-bar:focus-within ~ h1, .search-bar:focus-within ~ .cart-container {
        display: none;
    }

    .cart:hover .mini-checkout-container {
        display: none;
    }
}

@media (max-width: 480px) {
    header > div h1 {
        width: 150px;
    }
}

@media (max-width: 400px) {
    nav {
        padding: 0 10px;
    }
}